.gridHeaderMainTagA {
    background-color: rgba(89, 0, 255, 0.8);
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 20%;
}

.li-back-end > li {
    opacity: 0;
    transition: 500ms linear
}

.li-back-end:hover > li {
    opacity: 1;
}