.unirDoisArrays {
    position: absolute;
    display: none;
    border: 1px solid #000;
}
.imgArray:hover + .unirDoisArrays {
    display: block;
}

.promise ul {
    display: none;
}
.promise:hover ul {
    display: block;
}